@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HCA
@model MidasTouch.Domain.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["message"] != null)
{
    <h1>@ViewData["message"]</h1>
}
else
{
    <h1 class="pagelabel text-center bg-primary text-light mb-5">Login</h1>
}

<div class="container-fluid  rounded col-3 mb-3 shadow-lg pagetable">
    <div class="mb-3 text-center">
        @if (HCA.HttpContext.Session.GetInt32("userid") == null)
        {
            @using (Html.BeginForm("ConfirmUser", "User"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Identity.Email, "Enter Email")
                    @Html.TextBoxFor(m => m.Identity.Email, new { @type = "email", required = "required", @class = "form-control text-center" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Identity.Password, "Enter password")
                    @Html.PasswordFor(m => m.Identity.Password, new { @required = "required", @class = "form-control text-center" })
                </div>

                <button class="btn btn-primary mt-3 mb-3" type="submit">
                    Log In
                </button>
            }
        }
    </div>
</div>



