@model MidasTouch.Mvc.Models.NewUserModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pagelabel text-center text-light bg-warning mb-5">Register</h1>

@if (ViewData["msg"] != null)
{
    <p>@ViewData["msg"]</p>
}

@if (@ViewData["Good"] == null)
{
    <div class="container rounded col-3 mb-3 shadow-lg">
        <div class="mb-3 text-center">
            @using (Html.BeginForm("ValidateRegistration", "User"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Identity.Name.First, "Enter first name")
                    @Html.TextBoxFor(m => m.Identity.Name.First, new { @required = "required", @class = "form-control text-center" })

                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.Identity.Name.Last, "Enter last name")
                    @Html.TextBoxFor(m => m.Identity.Name.Last, new { @required = "required", @class = "form-control text-center" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Identity.Email, "Enter Email")
                    @Html.TextBoxFor(m => m.Identity.Email, new { @type = "email", required = "required", @class = "form-control text-center" })


                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Identity.Password, "Enter password")
                    @Html.PasswordFor(m => m.Identity.Password, new { @required = "required", @class = "form-control text-center" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Secondary, "Re-enter password")
                    @Html.PasswordFor(m => m.Secondary, new { @required = "required", @class = "form-control text-center" })

                </div>




                <button class="btn btn-primary mb-3" type="submit">
                    Register
                </button>
            }

        </div>
    </div>

}


