@model MidasTouch.Mvc.Models.HomePageMarketNews

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1 class="text-center text-light rounded-bottom" id="newstitle">
        Market News
    </h1>
    @foreach (var news in Model.MarketNews)
    {
        <div class="container-fluid">
            <div id="news" class="">
                <div class="row col-5 mb-1">
                    <a id="newsurl" href="@news.Url">@news.Headline</a>
                </div>
                <div class="row col-5 mb-1">
                    <div id="newssummary" class="">
                        @news.Summary
                    </div>
                </div>
                <div class="row col-5 mb-3">
                    <div>
                        @news.Datetime
                        @news.Source
                    </div>
                </div>
            </div>
        </div>
    }

</div>

