@model MidasTouch.Mvc.Models.TradeStock
<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Review Trade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                @using (Html.BeginForm(actionName: "Trade", controllerName: "Stock"))
                {
                    @Html.DropDownListFor(s => s.State, (IEnumerable<SelectListItem>)ViewBag.state)
                    <br />

                    @Html.LabelFor(s => s.Symbol)
                    @Html.TextBoxFor(s => s.Symbol, new { @class = "form-control" })

                    @Html.LabelFor(b => b.TradeSharesCount)
                    @Html.TextBoxFor(b => b.TradeSharesCount, new { @class = "form-control" })

                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Trade</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">
                            Trade
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                }
            </div>
        </div>
    </div>
</div>