@model MidasTouch.Mvc.Models.StockQuote
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center bg-warning text-light pagelabel mb-4">Market Summary</h1>

<h2 class="mb-4 text-center">
    <strong class="btn-warning rounded" style="font-size: 25px;">@ViewData["message"]</strong>
</h2>

<div class="w-100 text-center">
    <div class="d-inline-block border rounded displaystock shadow-lg">
        <form asp-action="Stock" asp-controller="Stock" class="text-center ">

            <div class="form-group p-2">

                @Html.DisplayName("Ticker")
                @Html.TextBoxFor(m => m.Symbol, new { required = "required", @class = "form-control text-center", @placeholder = "SPY" })
            </div>
            <div class="form-group">
                <button type="submit" id="sub" class="btn btn-primary mb-3">
                    Search
                </button>
                <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#tradeModal">
                    Trade
                </button>
            </div>
        </form>
    </div>

    <partial name="_TradeStock" />

    <div class="w-100 text-center mt-3">
        <div class="d-inline-block">
            <div class="text-left">
                <div class="bd-highlight"><partial name="_DisplayQuote" /> </div>
            </div>
        </div>
    </div>

</div>



<div class="text-center">
    <partial name="_DisplayChart" />
</div>


@section scripts{


    <script>
        createStockChart();

        document.querySelector('#sub').addEventListener('click', (function () {
            createStockChart();
        }));

        function createStockChart() {
            google.charts.load('current', { 'packages': ['corechart', 'controls'] });
            google.charts.setOnLoadCallback(drawChart);
            var chart_div = document.getElementById('chart');
            var ticker = String(document.getElementById('Symbol').value).toUpperCase();

            var viewStartDate = new Date('@DateTime.Today');
            viewStartDate.setMonth(viewStartDate.getMonth() - 3);
            var viewEndDate = new Date('@DateTime.Today');
            var startDate = viewStartDate.toISOString().split('T')[0];
            var endDate = viewEndDate.toISOString().split('T')[0];

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', 'Open');
                data.addColumn('number', 'High');
                data.addColumn('number', 'Low');
                data.addColumn('number', 'Close');
                data.addColumn('number', 'Volume');

                $.ajax({
                    url: '/api/apiStockData/' + ticker + '/' + startDate + '/' + endDate + '/daily',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (d) {
                    d.forEach(function (di) {
                        data.addRow([{ v: new Date(di.date), f: di.date }, di.open,
                        di.high, di.low, di.close, di.volume]);
                    });

                    var dashboard = new google.visualization.Dashboard(chart_div);
                    var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'filter',
                        options: {
                            filterColumnIndex: 0,
                            ui: {
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: {
                                        height: '80%', width: '85%', left: 100,
                                        backgroundColor: { stroke: "gray", strokeWidth: 1 }
                                    },
                                    hAxis: { baselineColor: 'none' }
                                },
                                chartView: { columns: [0, 4] },
                            }
                        },
                        state: {
                            range: {
                                start: viewStartDate,
                                end: viewEndDate
                            }
                        }
                    });

                    var chart = new google.visualization.ChartWrapper({
                        chartType: 'CandlestickChart',
                        containerId: 'candlestick',
                        options: {
                            chartArea: {
                                height: '80%', width: '85%', left: 100,
                                backgroundColor: { stroke: "gray", strokeWidth: 1 }
                            },
                            hAxis: {
                                type: 'category', slantedText: false, maxTextLines: 1,
                                maxAlternation: 1
                            },
                            legend: { position: 'none' },
                            candlestick: {
                                fallingColor: { strokeWidth: 0, fill: '#a52714' },
                                risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                            },
                            title: 'Stock Price: ' + ticker,
                        },
                        view: { columns: [0, 3, 1, 4, 2] }
                    });

                    dashboard.bind(control, chart);
                    dashboard.draw(data);

                    })
            }
        };

    </script>
}